
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <form action="/doregister" method="post">
        用户:<input  type="text" name="username" /><br>
        密码:<input  type="text" name="password" /><br>
        性别:<input  type="text" name="gender" /><br>
        电话:<input  type="text" name="phone" /><br>
        geth账号:<input  type="text" name="account" /><br>
        <input type="submit" value="注册">
    </form>
</body>
</html>